@import "variables";
@import "utilities";
@import "config";

//  General Sytles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Header
.header {
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    &__content {
      padding-top: 20%;
      text-align: center;
    }
    &__main {
      font-size: 6rem;
      line-height: 1.2;
      font-weight: 300;
    }
  }
  &-inner {
  }
}

// Logo
.logo {
  color: #fff;
  text-transform: uppercase;
  // height: 7rem;
  // width: 10rem;
  padding: 1rem 0rem;
  font-size: 2rem;
}

// Nav
.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  &__list {
    display: flex;
  }

  &__item {
    padding: 1rem 1.5rem;
  }

  &__item:not(:last-child) {
    margin-right: 1.5rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    padding-bottom: 0.5rem;
    transition: border-color 0.3s;

    &:hover,
    &:active {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// HOME SECTIONS
// Section A

.home {
  &-a {
    .specials {
      margin-top: 4.2rem;
      display: grid;
      grid-gap: 1.6rem;
      grid-template-columns: repeat(4, 1fr);

      .fas {
        color: $main-color;
        padding-bottom: 0.6rem;
      }
    }
  }

  // Section B
  &-b {
    .techs {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      font-size: 2rem;

      li {
        line-height: 2;
      }
      &__title {
        font-size: 2rem;
        font-weight: 700;
      }
    }
    .tech {
      padding: 3rem 0;
      &:nth-child(odd) {
        background: $light-color;
      }
      &:nth-child(even) {
        background: $medium-color;
      }
    }
  }

  // Section C
  &-c {
    .processes {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2.4rem;
      text-align: center;
    }

    .process {
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        transition: all 0.7s;
        text-align: center;
      }
      &-icon {
        position: relative;
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        width: 12rem;
        height: 12rem;
        line-height: 12rem;
        text-align: center;
        transition: all 0.7s;

        &:hover {
          background: $main-color;
          transform: scale(1.1);

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }
    }
  }
}

// FOOTER
.main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  &__content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
  }
  &__social {
  }
  &__icon {
    border: 2px solid #fff;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    text-align: center;
    padding-top: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      background: $main-color;
    }
  }
}
